[user]
	email = ho2ri2s.github@gmail.com
	name = ho2ri2s
[core]
    ignorecase = false
    quotepath = false
    safecrlf = true
[ghq]
    root = ~/src
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
